/* ./styles/globals.css */


*{
    font-family: 'Roboto Mono', monospace;
}

// mi contenedor principal
.personal-blog{
    // background-color: #f5f5f5;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}