/* ./styles/globals.css */

$color-fuente: rgb(48, 48, 48);

*{
    font-family: 'Roboto Mono', monospace;
    color: $color-fuente;
}

// color texto en dark mode
.dark *{
    color: whitesmoke;
    transition: color 1s;
}


// tamaño minimo de los svg
svg{
    width: 1.5rem;
    
}

// mi contenedor principal
.personal-blog{
    // background-color: #f5f5f5;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;

    .portada svg{
        width: 8rem;
    }
}