*{
    font-family: 'Roboto Mono', monospace;
    @apply text-gray-700;
}
//@tailwind base;
@layer base {
    h1 {
      @apply text-5xl;
    }
    h2 {
      @apply text-4xl;
    }
    h3 {
      @apply text-3xl;
    }
    h4 {
      @apply text-2xl;
    }
    ul{
      @apply pl-10;
    }
  }

// color texto en dark mode
.dark *{
    @apply text-white;
    transition: color 1s;
    
    header {
      @apply bg-black;
    }
}

// tamaño minimo de los svg
svg{
    width: 1.5rem;
    
}

// mi contenedor principal
.personal-blog{
    // background-color: #f5f5f5;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;

    .portada svg{
        width: 2.5rem;
    }
}