$color-NProgress: rgba(129, 140, 248);
// $color-NProgress: red;

// modificación de NProgress
#nprogress .bar{
    background-color: $color-NProgress;
}

#nprogress .spinner-icon {
    border-top-color: $color-NProgress;
    border-left-color: $color-NProgress;
  }